<!DOCTYPE html>
<html>
<head>
	<title>User Events</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<br>
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Username</th>
      <th scope="col">ip</th>
      <th scope="col">event</th>
      <th scope="col">Time</th>
    </tr>
  </thead>
  <tbody>
  	{% for d in data %}
    <tr>
      <th scope="row">1</th>
      <td>{{d.username}}</td>
      <td>{{d.ip}}</td>
      <td>{{d.event_type}}</td>
      <td>{{d.time}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

</body>
</html>